.section-wrapper {
  margin-bottom: 25px;
  padding-bottom: 15px;
  background-color: #fff;

  &__title {
    margin-bottom: 5px;
    text-align: center;
    font-size: 34px;
    color: #455a64;
    opacity: 0.2;
  }
}